.container {
  flex: 3;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.noMargin {
  margin: 0;
}

.label {
  display: flex;
  align-items: center;
}
