.badge {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.badge + .badge {
  margin-left: 1rem;
}

.label {
  padding: 0.3rem 0.5rem;
  border-right: 1px solid #ccc;
  background: #efefef;
}

.value {
  padding: 0.3rem 0.5rem;
}
