.controls {
  order: 0;
  background: #f9fafb;
  border: 1px solid rgba(34, 36, 38, 0.1);
  border-radius: 5px;
  padding: 1rem;
  flex: 1;
}

.controlsCont {
  display: flex;
  flex-direction: column;
}

.controlsCont + .controlsCont {
  margin-top: 3rem;
}

.controlsCont > div:nth-child(2) {
  margin: 0.5rem 1rem 0.5rem 1rem;
  width: inherit;
}

.text {
  background-color: #ff0;
}

.noDecoration {
  list-style-type: none;
  padding: 0;
}

.slider {
  margin: 1rem auto 0 auto;
  width: 85%;
}

.filterHeader {
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  .controls {
    order: 1;
  }
}
